<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Duo Challenges</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; background: #f4f4f4; }
        nav { background: #2E75B6; padding: 1rem; color: white; display: flex; justify-content: space-between; }
        nav a { color: white; text-decoration: none; margin-left: 1rem; }
        .container { max-width: 900px; margin: 2rem auto; padding: 0 1rem; }
    </style>
</head>
<body>
    <nav>
    <span>Duo Challenges</span>
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'challenges_lijst' %}">Challenges</a>
            {% if request.user.profiel.rol == 'begeleider' %}
        <a href="{% url 'challenge_aanmaken' %}">Challenge aanmaken</a>
            {% endif %}
                   <a href="{% url 'mijn_projecten' %}">Mijn Projecten</a>
            {% if request.user.profiel.rol == 'begeleider' %}
                <a href="{% url 'overzicht_ingediend' %}">Ingediend overzicht</a>
            {% endif %}
            <a href="{% url 'profiel' %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}">Uitloggen</a>
            
        </div>
    {% endif %}
</nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>